.entryPic{
    display: flex;
    justify-content: center;
    width: 100vw;
    /* height: 30vh; */
}
.entryPic img{
    width: 60vw;
    object-fit: cover;
}
.allstates{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}
.allstates div{
    width: 20vw;
    max-height: 30vh;
    margin: 3vh;
}
.allstates div img{
    width: 20vw;
    object-fit: cover;
}
.allstates div img:hover{
    cursor: pointer;
    opacity: 0.3;
}